[project]
	description = This Jenkins plugin provides SCM integration capabilities to PTC Integrity Lifecycle Manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anuragsen
[access "refs/for/refs/*"]
	read = group user/anuragsen
	push = group user/anuragsen
	label-Code-Review = -2..+2 group user/anuragsen
	label-Verified = -1..+1 group user/anuragsen
	rebase = group user/anuragsen
	removeReviewer = group user/anuragsen
	submit = group user/anuragsen
[access "refs/heads/*"]
	read = group user/anuragsen
	create = group user/anuragsen
	push = +force group user/anuragsen
	pushMerge = group user/anuragsen
[access "refs/tags/*"]
	push = +force group user/anuragsen
	pushTag = group user/anuragsen
	pushSignedTag = group user/anuragsen
